@charset "utf-8";
/*@import url("reset.css");*/
*{ margin:0; padding:0;}
em{ font-style:normal;}
.fix:after{content:".";display:block; height:0;clear:both;visibility:hidden; line-height:0; font-size:0;}
.fix{ *zoom:1;}
body {font: normal 12px Helvetica, Arial, sans-serif; color:#333; min-width:800px;}
img { border:0; vertical-align:middle;}
ul,ol{list-style:none;}
a{ color:#333; text-decoration:none;}
a:hover{ color:#06c;}
table{border-collapse:collapse;border-spacing:0;}
.bg_x,.meun_list h3 a,.info_tab th,.dialog .dialog_hd{ background:url(img/bg_x.png) 0 0 repeat-x;}
.bg,.ico,.btn{ background:url(img/bg.png) 0 0 no-repeat;}
.btn{ display:inline-block; vertical-align:middle; border:none; cursor:pointer; text-align:center;}
.ico{ display:inline-block; vertical-align:middle; margin-right:5px;}
.btn_sure,.btn_cancel{ background-position: 0 -53px; width:72px; height:31px; font: bold 14px/30px arial; color:#fff; margin-right:10px;}
.btn_sure:hover{ background-position: -74px -53px; color:#fff;}
.btn_cancel{ background-position: 0 -85px; color:#666;}
.btn_cancel:hover{ background-position: -74px -85px; color:#666;}

.fl{ float:left;}
.fr{ float:right;}
.xing{ font-family:simsun; color:#ff0000; margin-right:5px;}
.c_06c{ color:#06c;}

/*头部*/
.header{ height:92px;}
.header .logo{ margin-top:30px; padding-left:30px;}
.header .info{ margin:30px 80px 0 0; color:#fff; *display:inline;}
.header .info .user{ margin-right:40px;}
.info .user a{ color:#fff; margin-left:10px; font-family:simsun;}
.info .user a:hover{ color:#06c;}
.btn_quit{ width:74px; height:26px; line-height:26px; color:#fff;}
.btn_quit:hover{ background-position:-75px 0; color:#fff;}

/*page_thumb*/
.page_thumb{ font-family:simsun; width: 100%; background-position:0 -92px; height:34px; line-height:34px; border-bottom:1px solid #cdcdcd; padding-left:15px; _height:24px;_padding-top:10px; border-left:1px solid #cdcdcd;}
.ico_thumb{ background-position:-155px 0; width:17px; height:15px; margin-right:8px;}

/*翻页*/
.page_list{ text-align:center; padding:20px 0;}
.page_list ul{display:inline; margin-right:10px;}
.page_list ul li{ display:inline; font-family:simsun; margin-right:3px;}
.page_list ul li a{ display:inline-block; padding:4px 8px; border:1px solid #cacaca; color:#666;}
.page_list ul li a:hover{ background-color:#43bceb; color:#fff;}
.page_list .skip{ display:inline;}
.page_list .skip .t_ipt{ width:40px; height:16px; line-height:16px; padding:3px 0; text-align:center; vertical-align:middle; border:1px solid #cacaca; margin-right:8px; *vertical-align:inherit;}
.btn_go{ background-position:0 -26px; width:46px; height:26px; cursor:pointer; vertical-align:middle; *vertical-align:inherit;}
.btn_go:hover{ background-position: -48px -26px;}

/*底部*/
.footer{ background-position: 0 -231px; height:40px; line-height:40px; border-top:1px solid #cdcdcd; border-bottom:1px solid #cdcdcd; text-align:center; color:#666;}

/*表单*/
.form_list li{ padding:6px 0;}
.form_list li .tit{ display:inline-block; width:107px; text-align:right; margin-right:5px; float:left; height:22px; line-height:22px; vertical-align:middle;}
.form_list li select{ width:150px; margin-right:10px; border:1px solid #ccc; background-color:#fff;}
.form_list li .t_ipt{ padding:3px; height:14px; line-height:14px; vertical-align:middle; margin-right:5px; border:1px solid #ccc; background-color:#fff;}
.form_list li .radio{margin-right:5px; }
.form_list li .type{ margin-right:20px; height:22px; line-height:22px;}
.form_list li .cont{ float:left;}
.form_list li.operate{ padding-top:30px;}

/*dialog*/
.dialog{ border:2px solid #136c8f; border-radius:4px; min-width:500px; display:none; z-index:999; width:auto !important; width:500px; overflow:visible;background-color:#fff;}
.dialog .dialog_hd{ background-position:0 -126px; border-bottom:1px solid #136c8f; height:30px; line-height:30px; position:relative; cursor:move; min-width:300px;}
.dialog_hd h2{ font:bold 14px/30px arial; color:#fff; padding-left:12px;}
.dialog_hd .ico_close{ background-position: -101px -30px; width:17px; height:17px; position:absolute; top:5px; right:5px;}
.dialog_hd .ico_close:hover{ background-position: -119px -30px;}
.dialog_bd{ padding:20px 80px 20px 30px; background-color:#fff; float:left;}
.dialog_bd li{ padding:8px 0;}
.dialog_bd li select{ width:120px;}
#mask{ position:absolute; top:0; left:0;}

/*登陆页*/
.login_box{ background:url(img/login_bg.png) 0 0 repeat;}
.login_box h1{ font:30px "微软雅黑"; color:#fff; text-align:center; margin:70px 0 30px;}
.login .box_top,.login .box_bottom,.login_footer,.login .box li .t_ipt,.login .box .btn_login{ background:url(img/login.png) 0 0 no-repeat;}
.login_box .login{ width:452px; margin:0 auto;}
.login .box_top,.login .box_bottom{ height:12px;}
.login .box_bottom{ background-position:0 -12px;}
.login .box{ background-color:#f9f9f9; border-left:1px solid #606060; border-right:1px solid #606060; padding:0 25px;}
.login .box ul{ padding:25px 0; border-bottom:1px solid #fff;}
.login .box li{ padding:10px 0;}
.login .box li label{ display:inline-block; width:80px; text-align:right; font-size:14px; margin-right:5px;}
.login .box li .t_ipt{ background-position: 0 -30px; width:275px; height:30px; line-height:30px; padding:3px 0; border:none; text-indent:5px; margin-right:5px; vertical-align:middle;}
.login .box .login_btn{ border-top:1px solid #dcdcdc;}
.login .box .btn_login{ background-position: 0 -104px; width:112px; height:40px; border:none; cursor:pointer; margin:30px 0 20px 140px;}
.login .box .btn_login:hover{ background-position: -113px -104px;}
.login_footer{ width:452px; background-position: 0 -145px; text-align:center; margin:2px auto 0; padding:40px 0 20px; color:#fff;}

/*.w_960{ width:960px;}*/
/*.icon{ background:url(img/ico.png) 0 0 no-repeat; display:inline-block; vertical-align:middle; overflow:hidden;}*/
.icon{ background:url(img/ico.png) 0 0 no-repeat; display:inline-block; vertical-align:middle; overflow:hidden;}
/*content*/
/*.body .content{ background:url(img/content_bg.png) center bottom no-repeat; padding-bottom:20px; padding-top:10px;}*/
/*.content .cont{ background-color:#f5f5f5; height:750px; height:auto !important; min-height:750px;}*/
/*.content .col_sub{ width:180px; border:1px solid #d4d4d4; height:750px; height:auto !important; min-height:750px; background-color:#fff; margin-right:10px;}*/
/*.main_list li .sub_list{display:none;}*/
/*.main_list li .open .sub_list{display:block;}*/
/*.main_list h3{ font-size:18px; color:#000; font-weight:normal; padding-left:18px; height:45px; line-height:45px; position:relative; border-bottom:1px solid #d4d4d4; background-color:#f5f5f5;}*/
/*.main_list h3 span.ico{ width:34px; height:34px; margin-right:12px; _margin-top:5px;}*/
/*.main_list h3 .ico_02{ background-position: 0 -35px;}*/
/*.main_list h3 .ico_03{ background-position: 0 -70px;}*/
/*.main_list h3 .ico_04{ background-position: 0 -105px;}*/
/*.main_list h3 .ico_show{ width:27px; height:27px; background-position:0 -108px; position:absolute; right:12px; top:8px;}*/
/*.main_list .open  h3 .ico_show{ background-position:0 -138px;}*/
/*.sub_list li a{ display:block; height:45px; line-height:45px; border-bottom:1px solid #d4d4d4; font-size:16px; color:#777; text-align:center;}*/
/*.sub_list li.select a,.sub_list li a:hover{ background:28px 18px no-repeat #fff; color:#029288; text-decoration:none;}*/
/*.col_main{ margin-top:10px; width:758px;}*/
/*.col_main .main_bg{ border:1px solid #9c9c9c; background-color:#fff;}*/
/*.col_main .main_hd{ background-color:#bdbdbd; font-size:16px; margin-top:1px; color:#2f2f2f; padding:8px 10px;}*/
/*.col_main .main_bd{ border:1px solid #d3d3d3; border-top:none; background-color:#fff;}*/

/*content*/
.body .content{ background: center bottom no-repeat; padding-bottom:20px; padding-top:10px;}
.content .cont{ background-color:#f5f5f5; height:750px; height:auto !important; min-height:750px;}
.content .col_sub{ width:200px; border:1px solid #d4d4d4; height:750px; height:auto !important; min-height:750px; background-color:#fff; margin-right:10px;}
.main_list li .sub_list{ display:none;}
.main_list li.open .sub_list{ display:block;}
.main_list h3{ font-size:14px; color:#000; font-weight:normal; padding-left:70px; height:42px; line-height:40px; position:relative; border-bottom:1px solid #d4d4d4; background-color:#f5f5f5;}
.main_list h3 span.icon{ width:34px; height:34px; margin-right:12px; _margin-top:5px;}
.main_list h3 .ico_02{ background-position: 0 -35px;}
.main_list h3 .ico_03{ background-position: 0 -70px;}
.main_list h3 .ico_04{ background-position: 0 -105px;}
.main_list h3 .ico_show{ width:27px; height:27px; background-position:0 -108px; position:absolute; right:12px; top:8px;}
.main_list .open  h3 .ico_show{ background-position:0 -138px;}
.sub_list li a{ display:block; height:35px; line-height:35px; border-bottom:1px solid #d4d4d4; font-size:12px; color:#777; text-align:center;}
.sub_list li.select a,.sub_list li a:hover{ background:url(img/select_li.png) 28px 18px no-repeat #fff; color:#029288; text-decoration:none;}
/*.col_main{ margin-top:10px; width:758px;}*/
/*.col_main .main_bg{ border:1px solid #9c9c9c; background-color:#fff;}*/
/*.col_main .main_hd{ background-color:#bdbdbd; font-size:16px; margin-top:1px; color:#2f2f2f; padding:8px 10px;}*/
/*.col_main .main_bd{ border:1px solid #d3d3d3; border-top:none; background-color:#fff;}*/